SAFEROUTE_APP_ENV=development
SAFEROUTE_API_URL=
SAFEROUTE_API_VERSION=v1
SAFEROUTE_ENABLE_DEMO_DRIVE=true
SAFEROUTE_DEV_API_URL=https://api.lunarchain.net
SAFEROUTE_STAGING_API_URL=https://api.lunarchain.net
SAFEROUTE_PROD_API_URL=https://api.lunarchain.net
GOOGLE_MAPS_ANDROID_API_KEY=
GOOGLE_MAPS_IOS_API_KEY=
